{
	"presets": [["es2015", { "modules": false }], "react"],
	"plugins": [
		"transform-object-rest-spread",
		"transform-es2015-destructuring",
	],
	"env": {
		"development": {
			"plugins": ["react-hot-loader/babel"]
		},
		"test": {
			"plugins": ["rewire"]
		}
	}
}
