.menu-wrapper
  background inherit
  color inherit
  border-bottom 1px solid black
  width 100%

.MenuBar
  display flex
  background inherit
  color inherit
  font-family sans-serif
  width fit-content
  position relative
  cursor default
  user-select none
  > *
    height 100%
    outline none
    user-select none
    .title
      padding 1px 4px
      outline none
      user-select none
  .MenuItem, .Checkable
    list-style none
    background inherit
  .SubMenu
    background inherit
    position absolute
    z-index 6
    border 1px solid black
    > *
      outline none
      user-select none
    .MenuItem .title, .Checkable .title
      display block
  .Separator
    margin 0 auto
    width 95%
    height 0
    border-bottom 1px rgba(80, 80, 80, 0.3) solid
.Checkable input[type="checkbox"]
  -webkit-appearance none
  -moz-appearance none
  -ms-progress-appearance none
  width 12px
  height 12px
  display inline-block
  position relative
  color inherit
  outline none
  &:checked:after
    position absolute
    content '\2714'
    font-size 12px
    top 0
    left 0
  &:after
    content ' '
    font-size 12px
    top 0
    left 0
.MenuItem .image
  width 12px
  height 12px
  display inline-block
.MenuItem, .Checkable
  position relative
  color inherit
  .title
    color inherit
    white-space nowrap
.SubMenu .SubMenu
  top -1px
  left 100%
.MenuItem, .SubMenu, .Checkable, .Separator
  list-style none
.SubMenu > .MenuItem.submenu
  > .title:after
    display block
    content " "
    float right
    width 5px
    height 0
    border-color transparent
    border-style solid
    border-left-color #cccccc
    margin-top 5px
    margin-right -10px