.menu-wrapper
  background inherit
  color inherit
  border-bottom 1px solid black
  width 100%

.MenuBar
  display flex
  background inherit
  color inherit
  font-family sans-serif
  width fit-content
  position relative
  cursor default
  user-select none
  > *
    height 100%
    outline none
    user-select none
    .container
      padding 1px 4px
      outline none
      user-select none
  .MenuItem, .Checkable
    list-style none
    background inherit
  .SubMenu
    background inherit
    position absolute
    z-index 6
    border 1px solid black
    > *
      outline none
      user-select none
    .MenuItem .container, .Checkable .container
      display block
  .Separator
    margin 0 auto
    width 95%
    height 0
    border-bottom 1px rgba(80, 80, 80, 0.3) solid
.Checkable input[type="checkbox"]
  -webkit-appearance none
  -moz-appearance none
  -ms-progress-appearance none
  width 12px
  height 12px
  display inline-block
  position relative
  color inherit
  outline none
  &:checked:after
    position absolute
    content '\2714'
    font-size 12px
    top 0
    left 0
  &:after
    content ' '
    font-size 12px
    top 0
    left 0
.MenuItem .image
  width 12px
  height 12px
  display inline-block
.MenuItem, .Checkable
  position relative
  color inherit
  .container
    color inherit
    white-space nowrap
    justify-content space-between
    .hotkey
      display inline-block
      margin-left 20px
      opacity 0.5
.SubMenu .SubMenu
  top -1px
  left 100%
.MenuItem, .SubMenu, .Checkable, .Separator
  list-style none
.SubMenu > .MenuItem.submenu > span label
    padding-right 10px
    &:after
      content: '';
      position: absolute;
      //float right
      left 100%
      top: 25%;
      bottom: 25%;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #cccccc;
      margin-left -10px