.MenuBar
  display flex
  background inherit
  color inherit
  width 100%
  height 20px
  position relative
  border-bottom 1px solid black
  cursor default
  user-select none
  > *
    padding 2px 4px