.Message
  background-color white
  color black
  margin 2px 5px
  border 8px solid white
  border-radius 8px
  z-index 2
  .author
    font-weight bold
  .content
    font-family monospace
    white-space: pre-wrap
    word-break break-all
  .date
    font-size small
    text-align end