.StatusBar
  display flex
  justify-content space-between
  position fixed
  border-top 0.02em solid black
.Left
  margin-left 0
  display flex
  justify-content space-between
.Right
  margin-right 0
  display flex
  justify-content space-between