.StatusBar
  background inherit
  color inherit
  display flex
  justify-content space-between
  position relative
  border-top 1px solid black
.Left
  background inherit
  color inherit
  margin-left 0
  display flex
  justify-content space-between
.Right
  background inherit
  color inherit
  margin-right 0
  display flex
  justify-content space-between