.StatusBar
  background-color dimgray
  display flex
  justify-content space-between
.Left
  margin-left 0
  display flex
  justify-content space-between
.Right
  margin-right 0
  display flex
  justify-content space-between