.dropdown
  z-index: 10
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  background-color: rgba(0, 0, 0, 0.5)

.modal
  text-align: center
  position: absolute
  border: 2px solid rgb(204, 204, 204)
  background: rgb(255, 255, 255)
  overflow: auto
  outline: none
  padding: 20px
  top: 30%
  left: 50%
  transform: translate(-50%)

h1
  margin-bottom: 16px

.link
  height: 32px
  line-height: 28px
  border: 1px solid darkgray
  border-radius: 3px

.error-mes
  color: rgb(240, 0, 0)


