.Connector
  height 20px
  display flex
  input[type="text"]
    height 20px
    width 120px
    font-size 8px
    margin 0 4px
    display inline-flex
  button
    height 18px
    font-size 8px
    display inline-block
    margin 1px 5px